@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello Everyone</p>
    Hi from Max this is all about me
</div>
<div class="text-center">
    <img src="~/Images/Me.jpg" width="250">
</div>
